{% extends "partials/base.html" %}


{% block content %}

<div class="container mx-auto mt-20">
    <h1 class="text-3xl font-bold mb-8">My Domains</h1> 

    <table class="min-w-full divide-y divide-gray-200">
        <thead>
            <tr>
                <th class="px-6 text-left text-xs font-medium text-gray-500 uppercase bg-gray-50">Name</th>
                <th class="px-6 text-left text-xs font-medium text-gray-500 uppercase bg-gray-50">Issuer</th>
                <th class="px-6 text-left text-xs font-medium text-gray-500 uppercase bg-gray-50">Status</th>
                <th class="px-6 text-left text-xs font-medium text-gray-500 uppercase bg-gray-50">Expired</th>
                <th class="px-6 text-left text-xs font-medium text-gray-500 uppercase bg-gray-50">Actions</th>



            </tr>
        </thead>
 

        <tbody>
            {% for tracking in trackings %}
            <tr>
                <td class="px-6 py-4 whitespace-nowrap">{{ tracking.DomainName }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ tracking.Issuer }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ tracking.Expires }}</td>
                <td class="px-6 py-4 whitespace-nowrap">ok</td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <a class="px-2 py-1 hover:bg-gray-200 rounded-lg border border-gray-200" href="#">details</a>
                </td>
                

                
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}