<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>

</head>
<body>

    {{block "header" .}}


    {{end}}


    {{template "paragraph" .Text}}

    {{template "paragraph" .Text}}
    {{template "paragraph" .Text}}
    

    


    <h1>{{.Title}}</h1>
    <h3>{{.Text}}</h3>

    <ul>
    {{ range .Lines }}
    <li>{{.}}</li>
    {{end}}

    
    </ul>

    {{ if eq .Number1 .Number2}}
      <p>Numbers are equal</p>
      {{else}} 
      <p>Numbers are not equal</p>
      {{end}}
</br>

      {{block "content" .}}
       This is the default content

      {{end}}

      {{block "footer"   .}}


      {{end}}

</body>
</html>